@import "bootstrap-variables";
@import "~bootstrap/scss/bootstrap";

body{
  background: #000000;
}

html{
  header{
    .mylogo {
      width: 180px;
      padding-left: 30px;
    }
    .navbar-dark .navbar-nav .nav-link {
      color: $soymama;
      font-size: 1.1em;
      font-weight: 400;
    }

    .navbar-toggler{
      cursor: pointer;
      &:focus{
        outline: none;
      }
    }

    .scrollable{
      //background: rgba(219, 48, 134, 0.63) !important;
      //background: rgba(0, 0, 0, 0.72) !important;
      background: rgb(34, 26, 45) !important;
      //@include media-breakpoint-only(sm) {
      //  background: none !important;
      //  border-bottom: none !important;
      //
      //}
      border-bottom: 1px solid #000000;
      .mylogo{
        width: 100px;
      }
      ul{
        li{
          a{
            //color: white !important;
            font-size: 0.95em !important;
            //text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.56);
          }
        }
      }
    }
  }

  .wrap{
    .title{
      padding: 1.4em 1.4em 0.5em;
      text-align: right;
      width: 70%;
      //margin-left: -170px;
      box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.34);
      border-radius: 0.1em;
      transition: all ease-in-out 500ms;
      &.type1{
        transform: rotateZ(-5deg);
      }
      &.type2{
        transform: rotateZ(5deg);
      }
      &:hover{
        transform: rotateZ(-2deg);
        //margin-left: -80px;
        //background: repeating-linear-gradient(to right, #de006f -5%, #ffffff 23%, #ffffff);
        h3 {
          //color: red;
        }
      }
      h3,h2{
        font-weight: bolder;
        text-shadow: 1px 1px 1px #7b1a4a;
      }
      &.typeA{
        background: white;
        h3,h2{
          color: $soymama;
        }
      }
      &.typeB{
        background: $soymama;
        h3,h2{
          color: white;
        }
      }

    }
  }

  .section-content{
    padding-top: 5em;
    padding-bottom: 5em;
    &.separator{
      padding: 3em !important;
      //background: repeating-linear-gradient(to right, #D30D70, #da2d85 10%, #E728D0 0%);
      //border-top: 4px solid #c70969;
      background: repeating-linear-gradient(to right, #b90a62, #d02b7f 4%, #a70f63 10%);
      border-top: 3px solid #b30e61;
    }
  }

  @include media-breakpoint-only(xl) {
    .wrap{
      .title{
        margin-left: -480px;
        &:hover{
          margin-left: -300px;
        }
      }
    }
    .section-content{
      padding-left: 9em;
      padding-right: 9em;
    }
  }
  @include media-breakpoint-only(lg) {
    .wrap{
      .title{
        margin-left: -380px;
        &:hover{
          margin-left: -280px;
        }
      }
    }
    .section-content{
      padding-left: 2.5em;
      padding-right: 2.5em;
    }
  }
  @include media-breakpoint-only(md) {
    .wrap{
      .title{
        width: 80%;
        margin-left: -360px;
        &:hover{
          margin-left: -200px;
        }
      }
    }
    img.rotate1{
      width: 120% !important;
      right: -24% !important;
    }
    .section-content{
    }
  }
  @include media-breakpoint-only(sm) {
    .wrap{

      .position-sm-relative{
        position: relative !important;
        background: white;
      }
      .title{
        width: 80%;
        margin-left: -200px;
        &:hover{
          margin-left: -60px;
        }
      }
      nav.navbar{
        //background: rgba(219, 48, 134, 0.63) !important;
        //background: rgb(34, 26, 45) !important;
        background: rgba(34, 26, 45, 0.91) !important;
        //border-bottom: 1px solid #db3086;
        border-bottom: 1px solid #000000;
        .mylogo{
          width: 100px;
        }
        ul{
          li{
            a{
              color: white !important;
              font-size: 0.9em !important;
              text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.56);
            }
          }
        }
      }
    }
    img.rotate1{
      position: relative !important;
    }
    .section-content{
    }
  }
  @include media-breakpoint-only(xs) {
    .wrap{
      .position-xs-relative{
        position: relative !important;
        background: white;
      }

      .title{
        width: 80%;
        margin-left: -30px;
        &:hover{
          margin-left: -20px;
        }
      }

      nav.navbar{
        //background: rgba(219, 48, 134, 0.63) !important;
        //background: rgb(34, 26, 45) !important;
        background: rgba(34, 26, 45, 0.91) !important;
        //border-bottom: 1px solid #db3086;
        border-bottom: 1px solid #000000;
        .mylogo{
          width: 100px;
        }
        ul{
          li{
            a{
              color: white !important;
              font-size: 0.9em !important;
              text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.56);
            }
          }
        }
      }
    }
    img.rotate1{
      position: relative !important;
    }

    .mx-xs-0{
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}


// FORM ERRORS
.form-group{
  &.form-group--error{
    margin-bottom: 0;
    .form-error-vue{
      color: #e20073;
    }
  }
}

.notifications{
  margin-top: 70px;
  .vue-notification {
    font-size: 0.8em;
    border-radius: 0.55rem;
    border-left: none;
    box-shadow: 1px 1px 3px #3e3e3e;
    //margin: 20px 5px 5px;

    .notification-title{
      font-size: 1.1em;
    }
    .notification-content{
      font-size: 1.1em;
    }

    &.success{
      background: $soymama;
    }
    &.warn{
      background: $soymamaDark;
    }
    &.error{
      background: #e22323;
    }
  }
}
