<template>
  <div id="sidebar" class="col-2 p-0 bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light">
      <router-link class="navbar-brand" :to="{name: 'webPage'}">CMS ADMIN</router-link>
    </nav>
    <b-list-group>
      <b-list-group-item :to="{name: 'revistas'}">Revistas</b-list-group-item>
      <b-list-group-item :to="{name: 'posts'}">Posts</b-list-group-item>
      <b-list-group-item>Morbi leo risus</b-list-group-item>
      <b-list-group-item>Porta ac consectetur ac</b-list-group-item>
      <b-list-group-item>Vestibulum at eros</b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
  export default {
    name: 'appSidebar'
  }
</script>

<style lang="scss" scoped>
  $fondo: #21192d;
  $active: #DB2E86;

  #sidebar{
    height: 100vh;
    .list-group-item{
      border-radius: 0 !important;
      background: $fondo;
      color: #5a5a5a;
      &.active{
        background: $active;
        color: white;
      }
      &:hover{
        background: $active;
        color: $fondo;
      }
    }

  }
</style>
