<template>
  <div>Load? => {{ isWorking }}</div>

</template>

<script>
  import { loadFbSdk, getLoginStatus, fbLogout, fbLogin, fbEvents } from './helpers'
  export default {
    name: 'facebook',
    data () {
      return {
        isWorking: false,
        isConnected: false
      }
    },
    props: {
      appId: {
        type: String,
        required: true
      },
      version: {
        type: String,
        default: 'v2.11'
      },
      logoutLabel: {
        type: String,
        default: 'Log out from Facebook'
      },
      loginLabel: {
        type: String,
        default: 'Log In To Facebook'
      },
      loginOptions: {
        type: Object,
        default: function () {
          return {
            scope: 'email'
          }
        }
      }
    },
    methods: {
      getData () {
        alert('DATA!!!')
        let me = '1025630888'
        let at = 'EAACW5Fg5N2IBAI3X897Qd1S1JvZBstUixvsUgprXLqTXPkYao6NBAyUo4FazgHWXEKb3CswrktklGyXCq1qAySZA3G1SBFv26SK3S027rApZCDXBWfmP1z2yOujtpZB7QSY1xCVeHtsszYdLdzja4NSB7ZBxE5WdZAaM9wtsH6lEvGl3rSBjQw'
        this.$http.get('https://graph.facebook.com/v2.11/' + me + '?fields=events.limit(5)&access_token=' + at).then(response => {
          console.log(response)
        })
        // fbEvents().then(response => {
        //   console.log(response)
        // })
      }
    },
    mounted () {
      this.isWorking = true
      loadFbSdk(this.appId, this.version)
        .then(() => {
          this.isWorking = false
          this.$emit('sdk-loaded', {
            isConnected: this.isConnected,
            FB: window.FB
          })
          this.getData()
        })
    }
  }
</script>

<style scoped>

</style>
