<template>
  <section id="concursos" class="section-content bg-light">
    <div class="title type2 typeB">
      <h2>CONCURSOS</h2>
    </div>
    <div class="row challenge">
      <div class="col-md-3">
        <img class="globo1 right d-none d-md-block" src="static/image/concursos/n2.jpg" alt="">
      </div>
      <div class="col-md-6 content">
        <h2 class="alt-title">Concursos y Sorteos</h2>
        <p class="p-alt">Participa en todos nuestros concursos y sorteos, y consigue fantásticos regalos para ti y tu bebé.</p>
        <p class="p-alt2">¡Tu bebé en la portada de la Revista edición Abril 2018! La sonrisa más bella</p>
        <ul class="pt-3">
          <li>Participan solo bebes hasta 2 años.</li>
          <li>Sube la foto de tu bebé al fanpage.</li>
          <li>Consigue más likes para obtener puntos.</li>
          <li>Él bebe con más likes gana.</li>
          <li>La sola recepción de  la foto nos autoriza para publicarla</li>
          <!--<li>Participan solo bebés menores de 1 año.</li>-->
          <!--<li>¡Anímate! Sácale la mejor foto de su carita y envíala al fanpage del Club Soy Mamá</li>-->
          <!--<li>Tienes hasta el 15 de noviembre del 2017 para enviar su fotito (por mensaje interno)</li>-->
          <!--<li>A partir del 16 de noviembre publicaremos las preseleccionadas y empieza el concurso de "likes"</li>-->
          <!--<li>Invita a tus compañeros y amigos para darle like a la foto de tu bebé</li>-->
          <!--<li>La selección del bebé finalista será por cuenta de los organizadores</li>-->
          <!--<li>La sola recepción de la foto nos autoriza para publicarla (únicamente para fines de la revista)</li>-->
          <!--<li>A más likes, más probabilidades de ganar.</li>-->
          <!--<li>Si tu bebé es el seleccionado además del bebé de portada, ganarás</li>-->
          <!--<li>1 mes de pañales gratis</li>-->
        </ul>
        <p class="ul-alt text-center font-weight-bold p-3">¡No te olvides de participar sube la foto hasta el 20 de febrero  y el  20 de marzo finaliza el concurso!</p>
      </div>
      <div class="col-md-3">
        <img class="globo2 left d-none d-md-block" src="static/image/concursos/n1.jpg" alt="">
      </div>
    </div>
    <h1 class="alt-title">!Suerte a todos!</h1>
  </section>
</template>

<script>
  export default {
    name: 'concursos'
  }
</script>

<style lang="scss" scoped>
  $local : #db3086;
  #concursos{
    .challenge{
      position: relative;
      margin: 4em auto 2em;
      .content{
        z-index: 1;
        position: relative;
        /*border: 1px solid black;*/
        padding: 2em;
        border-radius: 1em;
        /*box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.45);*/
      }
      ul, .ul-alt {
        font-style: italic;
        list-style: circle;
        /*text-align: left;*/
        font-family: 'Roboto', sans-serif;
        text-align: justify;
      }
      img {
        width: 85%;
        border: 14px solid $local;
        position: absolute;
        border-radius: 50%;
        z-index: 0;
        &.right{
          right: 0;
          top: 20%;
        }
        &.left{
          left: 0;
          top: 20%;
        }
      }
    }
    .alt-title{
      color: $local;
      font-style: italic;
      font-family: 'Sacramento', cursive;
      font-size: 3em;
    }

    .p-alt{
      font-size: 1.6em;
      font-family: 'Sacramento', cursive;
    }
    .p-alt2{
      color: $local;
      font-size: 1.6em;
      font-family: 'Sacramento', cursive;
    }

    .globo1 {
      animation: globo 7s 1s infinite;
    }

    .globo2 {
      animation: globo 7s 2s infinite;
    }

    /* Animation Keyframes*/
    @keyframes globo {
      0% { top: 20%; }
      50% { top: 30%; }
      100% { top: 20%; }
    }
  }
</style>
