<template>
  <section id="contacto" class="section-content bg-primary">
    <div class="title type1 typeA bg-dark">
      <h2>CONTACTANOS</h2>
    </div>
    <form id="contactForm">
      <div class="row pt-5 mt-3 pb-5 d-flex justify-content-center">
        <div class="col-md-5 col-10 pl-md-5">

          <div class="form-group" :class="{ 'form-group--error': $v.form.nombre? $v.form.nombre.$error : false}">
            <form-error :data="$v.form.nombre? $v.form.nombre : {} "></form-error>
            <input class="form-control input-lg" placeholder="Nombres" name="nombres" type="text"
                   @blur="$v.form.nombre? $v.form.nombre.$touch(): false"
                   v-model="form.nombre">
          </div>

          <div class="form-group" :class="{ 'form-group--error': $v.form.email? $v.form.email.$error : false}">
            <form-error :data="$v.form.email? $v.form.email : {} "></form-error>
            <input class="form-control input-lg" placeholder="Email" name="email" value="" type="email"
                   @blur="$v.form.email? $v.form.email.$touch(): false"
                   v-model="form.email">
          </div>
        </div>
        <div class="col-md-5 col-10">
          <div class="form-group" :class="{ 'form-group--error': $v.form.mensaje? $v.form.mensaje.$error : false}">
            <form-error :data="$v.form.mensaje? $v.form.mensaje : {} "></form-error>
            <textarea class="form-control input-lg"  rows="4" placeholder="Escriba su mensaje" name="mensaje"
                      @blur="$v.form.mensaje? $v.form.mensaje.$touch(): false"
                      v-model="form.mensaje"></textarea>
          </div>
          <div class="mt-2">
            <!--<input class="submit btn btn-lg btn-primary btn-block" value="Enviar" type="submit">-->
            <button @click.prevent="sendEmail" class="submit btn btn-lg btn-primary btn-block"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Enviar</button>
          </div>
        </div>
      </div>
    </form>
  </section>
</template>


<script>
  import { required, minLength, between, email, numeric } from 'vuelidate/lib/validators'
  import FormError from '../../components/utils/FormError'

  const form1 = {
    nombre: '',
    email: '',
    mensaje: ''
  }

  export default {
    name: 'contacto',
    components: {
      FormError
    },
    data () {
      return {
        form: {...form1},
        clientId: '754362615573-7e3rfrpfmk9apjheqg3b457ruq5j2g1a.apps.googleusercontent.com',
        apiKey: 'AIzaSyAZ4HtGKGRdnfYiWXbDZaLF_Hbw4ijk6Cg',
        scopes: 'https://www.googleapis.com/auth/gmail.readonly ' + 'https://www.googleapis.com/auth/gmail.send'
      }
    },
    validations: {
      form: {
        nombre: {
          required,
          minLength: minLength(4)
        },
        email: {
          email,
          required
        },
        mensaje: {
          required
        }
      }
    },
    methods: {
      sendEmail () {
        let invalid = this.$v.form.$invalid
        if (!invalid) {
          let url = 'https://formspree.io/clubsoymama@gmail.com'
          this.$http.post(url, {
            Nombre: this.form.nombre,
            Email: this.form.email,
            Mensaje: this.form.mensaje
          }).then(res => {
            this.$store.commit('sendNotification', {status: true, message: 'El correo se envió correctamente!, nos pondremos en contacto con usted. Muchas gracias.'})
            this.resetForm('contactForm')
          }).catch(error => {
            this.$store.commit('sendNotification', {status: null, message: 'Ocurrio un problema en el sistema, vuelta a intentarlo.'})
          })
        } else {
          this.$v.form.$touch()
        }
      },
      resetForm (formId) {
        this.form = {...form1}
        document.getElementById(formId).reset()
        this.$v.form.$reset()
      }
    }
  }

</script>

<style lang="scss" scoped>
  #contacto{
    .form-group--error{
      input.form-control{
        margin-bottom: 0;
      }
    }
    .form-error-vue{
      color:#d4d4d4
    }

    background: repeating-linear-gradient(to bottom, #b90a62, #d02b7f, #69053c);
    input.form-control, textarea.form-control{
      background: #221a2e;
      padding: 18px;
      border: none;
      /*box-shadow: 3px 3px 9px #221a2e;*/
      color: #db2f86;
      text-align: right;
      font-size: 1.1em;
    }

    input.form-control{
      text-align: left;
      margin-bottom: 25px;
    }

    textarea.form-control{
      padding: 23px 13px;
      text-align: left;
    }

    .submit{
      background-color: rgba(0, 0, 0, 0.38);
      border: none;
      color: #e0e0e0;
      /*border-color: rgba(0, 0, 0, 0.61);*/
    }
  }

</style>
