<template>
  <section id="ediciones" class="section-content bg-dark">
    <div class="title type1 typeA">
      <h2>EDICIONES</h2>
    </div>
    <div class="container-revistas text-center my-5 py-5">
      <carousel :perPageCustom="[[200, 1],[600, 1],[768, 1],[1024, 1]]" :paginationEnabled="true" :loop="false" :autoplay="false">
        <slide class="item-revista">
          <div>
            <h5>Enero, 2018</h5>
            <img src="static/image/ediciones/ed0.png" alt="" />
            <p><span>"</span>Primera Edición<span>"</span></p>
            <span class="icon-download hvr-pulse"><a href="https://mega.nz/#!TAARSCQL!awEk7C9P4e1ZInEg9s-Mp_DmTxyRR7T3q_VpnbZ_txo" target="_blank"><i class="fa fa-download"></i></a></span>
          </div>
        </slide>
        <!--<slide class="item-revista">-->
          <!--<h5>Marzo, 2017</h5>-->
          <!--<img src="static/image/ediciones/ed2.jpg" alt="" />-->
          <!--<p>Complemento de Marzo</p>-->
        <!--</slide>-->
        <!--<slide class="item-revista">-->
          <!--<h5>Abril, 2017</h5>-->
          <!--<img src="static/image/ediciones/ed3.jpg" alt="" />-->
          <!--<p>Dia de la madre</p>-->
        <!--</slide>-->
        <!--<slide class="item-revista">-->
          <!--<h5>Mayo, 2017</h5>-->
          <!--<img src="static/image/ediciones/ed4.jpg" alt="" />-->
          <!--<p>Dia de la mujer</p>-->
        <!--</slide>-->
      </carousel>
    </div>
  </section>

</template>

<script>
  import { Carousel, Slide } from 'vue-carousel'
  export default {
    name: 'ediciones',
    components: {
      Carousel,
      Slide
    }
  }
</script>

<style lang="scss">
  $local : #db3086;

  #ediciones{
    padding-top: 6em;
    padding-bottom: 7em;
    .container-revistas{
      .item-revista{
        h5{
          color: $local;
          font-style: oblique;
          font-weight: 500;
        }
        p {
          span {
            font-size: 1.5em;
            font-weight: bolder;
          }
          color: $local;
          font-size: 1em;
          padding-top: 1em;
        }
        img{
          cursor: auto;
          width: 250px;
          border-radius: 0.4em;
          &:hover{
            border: 1px solid $local;
            cursor: pointer;
          }
          &:hover ~ .icon-download{
            display: block;
          }
        }
        .icon-download{
          display: none;
          position: absolute;
          top: 300px;
          width: 100%;
          transition: all ease-in 600ms;
          cursor: pointer;
          &:hover{
            display: block;
          }
          i{
            transition: all ease-in 600ms;
            background: rgba(0, 0, 0, 0.64);
            padding: 13px;
            border-radius: 5em;
            font-size: 2.3em;
            border: 2px solid #db3086;
            color: #db3086;
          }
        }
      }
    }
    .VueCarousel-pagination{
      bottom: -24%;
    }
  }

</style>
