<template>
  <footer class="bg-dark pt-5">
    <div class="footer-top">
      <div class="row">
        <div id="paginaWeb" class="footer-item col-md-4 text-md-right pr-md-5">
          <h5>Pagina Web</h5>
          <ul class="list-group">
            <li class="list-inline-item" v-scroll-to="{ el: 'header'}">Inicio</li>
            <li class="list-inline-item" v-scroll-to="{ el: '#nosotras', offset: -60 }">Nosotras</li>
            <li class="list-inline-item" v-scroll-to="{ el: '#concursos'}">Concursos</li>
            <li class="list-inline-item" v-scroll-to="{ el: '#ediciones', offset: -10 }">Ediciones</li>
            <li class="list-inline-item" v-scroll-to="{ el: '#novedades'}">Novedades</li>
            <li class="list-inline-item" v-scroll-to="{ el: '#contacto', offset: -30}">Contacto</li>
          </ul>
        </div>
        <div id="contactanos" class="footer-item col-md-5 pt-md-0 pt-5">
          <h5>Contactanos</h5>
          <ul class="list-group">
            <li class="list-inline-item">
              <!-- direccion -->
              <div class="row my-2">
                <div class="col-md-3 col-4 text-right text-primary">
                  <i class="fa fa-2x fa-map-o"></i>
                </div>
                <div class="col-md-9 col-8 text-left text-white">
                  <p>Alsacia 3438</p>
                </div>
              </div>

              <!-- telefonos -->
              <div class="row py-2">
                <div class="col-md-3 col-4 text-right text-primary">
                  <i class="fa fa-3x fa-mobile"></i>
                </div>
                <div class="col-md-9 col-8 text-left text-white">
                  <ul class="list-group">
                    <li class="list-inline-item">56-953941883</li>
                    <!--<li class="list-inline-item">052-242424</li>-->
                  </ul>
                </div>
              </div>

              <!-- email -->
              <div class="row py-2">
                <div class="col-md-3 col-4 text-right text-primary">
                  <i class="fa fa-2x fa-envelope-o"></i>
                </div>
                <div class="col-md-9 col-8 text-left text-white">
                  <p>clubsoymama@gmail.com</p>
                </div>
              </div>
            </li>
          </ul>

        </div>
        <div id="suscribete" class="footer-item col-md-3 text-md-left pt-md-0 pt-5">
          <!--<h5>Suscribete</h5>-->
          <img src="static/silueta.png" alt="" style="width: 100px; display: inline-block">
        </div>
      </div>
    </div>
    <div class="footer-bottom mt-5" style="background: #110c19">
      <div class="row p-2">
        <div class="col-6 text-left text-dark"><p>© <span>2017</span> Sunrise. All rights reserved</p></div>
        <div class="col-6 text-right text-white"><a href="privacy.html" class="link privacy text-white">Privacy Policy</a></div>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'appFooter'
  }
</script>

<style lang="scss" scoped>
  $soymama: #db3086;

  footer{
    font-size: 0.9em;
    .footer-top{
      padding: 20px 20px 0;
    }
    .footer-bottom{
      padding: 20px 20px 0;
      /*background: #c3357b;*/
    }

    h5{
      color: $soymama;
    }

    .footer-item{
      /*border-bottom: 1px solid red;*/
    }

    #paginaWeb{
      ul{
        li{
          color: white;
          cursor: pointer;
          &:hover{
            color: $soymama;
          }
        }
      }
    }

    #contactanos{
      .row{
        border-bottom: 1px solid #252525;
      }
    }
  }

</style>
