<template>
  <header>
    <app-navbar></app-navbar>
    <carousel :perPage="1" :loop="true" :autoplay="true" :speed="1200" :autoplayTimeout="6500">
      <slide>
        <parallax :speedFactor="0.5" breakpoint="(min-width: 768px)">
          <div class="slide slide--1"></div>
        </parallax>
      </slide>
      <slide>
        <parallax :speedFactor="0.5" breakpoint="(min-width: 768px)">
          <div class="slide slide--2"></div>
        </parallax>
      </slide>
      <slide>
        <parallax :speedFactor="0.5" breakpoint="(min-width: 768px)">
          <div class="slide slide--3"></div>
        </parallax>
      </slide>
      <slide>
        <parallax :speedFactor="0.5" breakpoint="(min-width: 768px)">
          <div class="slide slide--4"></div>
        </parallax>
      </slide>
    </carousel>
    <div class="content-header d-flex align-items-center">
      <div class="formulario row w-100 mx-md-0 mx-sm-0 mx-xs-0">
        <div class="col-sm-7 col-md-5 col-lg-4 col-xl-3 ml-auto mx-sm-auto mx-md-auto mr-lg-4 mr-md-0 mr-xl-5">
          <div class="card card-body p-4">
            <h3 class="text-center mb-4 text-primary">Suscribete!</h3>
            <!--<div class="alert alert-danger">-->
              <!--<a class="close" data-dismiss="alert" href="#">×</a>Password is too short.-->
            <!--</div>-->
            <form id="suscribeForm">
              <fieldset>
                <div class="form-group"
                     :class="{ 'form-group--error': $v.form.nombre? $v.form.nombre.$error : false}">
                  <input class="form-control input-lg" placeholder="Nombres" name="nombres" type="text"
                         @blur="$v.form.nombre? $v.form.nombre.$touch(): false"
                         v-model="form.nombre">
                  <form-error :data="$v.form.nombre? $v.form.nombre : {} "></form-error>
                </div>
                <div class="form-group"
                     :class="{ 'form-group--error': $v.form.apellido? $v.form.apellido.$error : false}">
                  <input class="form-control input-lg" placeholder="Apellidos" name="apellidos" type="text"
                         @blur="$v.form.apellido? $v.form.apellido.$touch(): false"
                         v-model="form.apellido">
                  <form-error :data="$v.form.apellido? $v.form.apellido : {} "></form-error>
                </div>
                <div class="form-group"
                     :class="{ 'form-group--error': $v.form.email? $v.form.email.$error : false}">
                  <input class="form-control input-lg" placeholder="Email" name="email" value="" type="email"
                         @blur="$v.form.email? $v.form.email.$touch(): false"
                         v-model="form.email">
                  <form-error :data="$v.form.email? $v.form.email : {} "></form-error>
                </div>
                <div class="form-group"
                     :class="{ 'form-group--error': $v.form.telefono? $v.form.telefono.$error : false}">
                  <input class="form-control input-lg" placeholder="Telefono" name="telefono" value="" type="number"
                         @blur="$v.form.telefono? $v.form.telefono.$touch(): false"
                         v-model="form.telefono">
                  <form-error :data="$v.form.telefono? $v.form.telefono : {} "></form-error>
                </div>
                <div class="checkbox">
                  <label class="small">
                    <input name="terms" type="checkbox" v-model="form.centinela">Acepto recibir informacion en mi <a href="#">correo electrónicoe</a>
                  </label>
                </div>
                <input class="btn btn-lg btn-primary btn-block" value="Enviar" type="button"
                       :disabled="$v.form.$invalid"
                       @click="suscribe">
                <!--<input class="btn btn-lg btn-primary btn-block" value="Reset" type="button"-->
                <!--@click="resetForm('suscribeForm')">-->
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--<div>-->
      <!--<p>Club soy mama es  creada por especialistas que tiene por objetivo ayudar a la mujer en el transcurso de la preparación de ser mamá  y brindar información del día a día del embarazo, parto, posparto, pasando por el nacimiento del bebe y creciendo.</p>-->
      <!--<p>Nuestra misión  es educar, compartir las experiencias y el conocimiento  a través de talleres para las  madres brindando soluciones a las inquietudes que la aquejan cada día.</p>-->
      <!--<b-btn variant="primary" href="#">More Info</b-btn>-->
    <!--</div>-->
  </header>
</template>

<script>
  import { required, minLength, between, email, numeric } from 'vuelidate/lib/validators'
  import appNavbar from './Navbar'
  import Parallax from 'vue-parallaxy'
  import { Carousel, Slide } from 'vue-carousel'
  import FormError from '../../components/utils/FormError'
  import {fireDB, fireSuscritos} from '../../configFirebase'

  const form1 = {
    nombre: '',
    apellido: '',
    email: '',
    telefono: '',
    centinela: false
  }

  export default {
    name: 'appHeader',
    components: {
      appNavbar,
      Carousel,
      Slide,
      Parallax,
      FormError
    },
    data () {
      return {
        form: {...form1}
      }
    },
    validations: {
      form: {
        nombre: {
          required,
          minLength: minLength(4)
        },
        apellido: {
          required,
          minLength: minLength(4)
        },
        email: {
          email,
          required
        },
        telefono: {
          required,
          numeric
        },
        centinela: {
          required
        }
      }
    },
    firebase: {
      suscritos: fireSuscritos
    },
    methods: {
      async suscribe () {
        let invalid = this.$v.form.$invalid
        console.log(this.$v.form)
        if (!invalid) {
          let {centinela, ...data} = this.form
          this.existValue(fireSuscritos, 'email', data.email).then(val => {
            if (!val) {
              fireSuscritos.push(data)
              this.$store.commit('sendNotification', {status: true, message: 'Se ha suscrito a nuestra revista con exito!.'})
              this.resetForm('suscribeForm')
            } else {
              this.$store.commit('sendNotification', {status: null, message: 'Usted ya se encuentra registrado con ' + data.email + '.'})
            }
          })
        } else {
          this.$v.form.$touch()
        }
      },
      async existValue (fbDB, key, value) {
        let promise = new Promise((resolve, reject) => {
          fbDB.orderByChild(key).equalTo(value).once('value').then((snap) => {
            resolve(snap.val())
          })
        })
        return promise
      },
      resetForm (formId) {
        this.form = {...form1}
        document.getElementById(formId).reset()
        this.$v.form.$reset()
      }
    },
    created () {
    }
  }
</script>

<style lang="scss">
  header{
    /*background: black;*/
    .Masthead{
      height: 100vh !important;
    }

    .content-header{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100vh;
      /*padding-top: 100px;*/
      .formulario{
        .card{
          background: rgba(255, 255, 255, 0.55);
          box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.29);
        }
      }
    }
  }
  .VueCarousel{
    .VueCarousel-wrapper{
      .VueCarousel-slide{
        /*img {*/
          /*height: 100vh;*/
          /*width: 100%;*/
        /*}*/
        .slide {
          background: {
            position: center;
            size: cover;
          }
          height: 100vh;
          &:before {
            /*background-color: rgba(#000, .2);*/
            background: linear-gradient(#000000, transparent, transparent, #d20068);
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
          }
          &--1 {
            background-image: url('../../assets/image/enero/a1.jpg');
          }
          &--2 {
            background-image: url('../../assets/image/enero/a2.jpg');
          }
          &--3 {
            background-image: url('../../assets/image/enero/a3.jpg');
          }
          &--4 {
            background-image: url('../../assets/image/enero/a4.jpg');
          }
          /*&--5 {*/
            /*background-image: url('../../assets/image/enero/a5.jpg');*/
          /*}*/
          /*&--6 {*/
            /*background-image: url('../../assets/image/enero/a6.jpg');*/
          /*}*/
          /*&--7 {*/
            /*background-image: url('../../assets/image/enero/a7.jpg');*/
          /*}*/
        }
      }
    }

    .VueCarousel-pagination{
      position: absolute;
      bottom: 20px;
      z-index: 2;
      .VueCarousel-dot--active, .VueCarousel-dot:hover{
        padding: 7px !important;
        .VueCarousel-dot-inner{
          width: 15px !important;
          height: 15px !important;
          background: none !important;
          border: 1px solid white;
        }
      }
    }
  }

</style>
