<template>
  <b-navbar toggleable="md" type="dark" variant="transparent" fixed="top" :class="{'scrollable': isScroll}">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand href="#">
      <img src="static/logo.png" class="mylogo d-inline-block align-top" alt="Club Soy Mama">
      <span class="d-none">club soy mama</span>
    </b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav class="ml-auto">
        <!--<b-nav-item href="#">Inicio</b-nav-item>-->
        <b-nav-item href="#" v-scroll-to="{ el: '#nosotras', offset: -60 }">Nosotras</b-nav-item>
        <b-nav-item href="#" v-scroll-to="{ el: '#concursos'}">Concursos</b-nav-item>
        <b-nav-item href="#" v-scroll-to="{ el: '#ediciones', offset: -10 }">Ediciones</b-nav-item>
        <b-nav-item href="#" v-scroll-to="{ el: '#novedades'}">Novedades</b-nav-item>
        <b-nav-item href="#" v-scroll-to="{ el: '#contacto', offset: -30}">Contacto</b-nav-item>
        <!--<b-nav-item href="#">Eventos</b-nav-item>-->
        <b-nav-item href="https://www.facebook.com/RevistaClubSoyMama/" target="_blank"><i class="fa fa-facebook social-media"></i></b-nav-item>
        <b-nav-item href="https://www.instagram.com/clubsoymama/" target="_blank"><i class="fa fa-instagram social-media"></i></b-nav-item>
        <b-nav-item href="https://www.instagram.com/clubsoymama/" target="_blank"><i class="fa fa-youtube social-media"></i></b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <!--<b-navbar-nav class="ml-auto">-->
        <!--<b-nav-form>-->
          <!--<b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search"/>-->
          <!--<b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>-->
        <!--</b-nav-form>-->

        <!--<b-nav-item-dropdown text="Lang" right>-->
          <!--<b-dropdown-item href="#">EN</b-dropdown-item>-->
          <!--<b-dropdown-item href="#">ES</b-dropdown-item>-->
          <!--<b-dropdown-item href="#">RU</b-dropdown-item>-->
          <!--<b-dropdown-item href="#">FA</b-dropdown-item>-->
        <!--</b-nav-item-dropdown>-->

        <!--<b-nav-item-dropdown right>-->
          <!--&lt;!&ndash; Using button-content slot &ndash;&gt;-->
          <!--<template slot="button-content">-->
            <!--<em>User</em>-->
          <!--</template>-->
          <!--<b-dropdown-item href="#">Profile</b-dropdown-item>-->
          <!--<b-dropdown-item href="#">Signout</b-dropdown-item>-->
        <!--</b-nav-item-dropdown>-->
      <!--</b-navbar-nav>-->

    </b-collapse>
  </b-navbar>
</template>

<script>
  export default {
    name: 'app-navbar',
    components: {
    },
    computed: {
      isScroll () {
        return this.$store.state.navbarScroll
      }
    },
  }
</script>

<style lang="scss" scoped>
  @import "../../../scss/bootstrap-variables";

  .social-media{
    color: white;
    &:hover{
      color: $soymama
    }
  }

</style>
