<template>
    <div>
      <section class="section-content separator"></section>
      <section id="nosotras" class="section-content bg-primary">
        <div class="title type1 typeA">
          <h2>NOSOTRAS</h2>
        </div>
        <div class="row">
          <div class="col-md-6 pr-5 pt-5 mt-5">
            <p>Club soy mama es  creada por especialistas que tiene por objetivo ayudar a la mujer en el transcurso de la preparación de ser mamá  y brindar información del día a día del embarazo, parto, posparto, pasando por el nacimiento del bebe y creciendo.</p>
            <p>Nuestra misión  es educar, compartir las experiencias y el conocimiento  a través de talleres para las  madres brindando soluciones a las inquietudes que la aquejan cada día.</p>
            <!--<b-btn variant="primary" href="#">More Info</b-btn>-->
          </div>
          <div class="col-md-6 px-sm-4 mt-sm-5">
            <!--<div class="content-img">-->
            <img class="rotate1" src="static/image/nosotras/n2.jpg" alt="">
            <img class="rotate2" src="static/image/nosotras/n1.jpg" alt="">
            <img class="rotate3" src="static/image/nosotras/n3.jpg" alt="">
            <!--</div>-->
          </div>
        </div>
      </section>
      <section class="section-content separator"></section>
    </div>
</template>

<script>
  export default {
    name: 'nosotras'
  }
</script>

<style lang="scss" scoped>
  #nosotras {
    /*padding: 10% 6% 13%;*/
    padding-bottom: 13%;
    .row{
      font-family: 'Roboto', sans-serif;
      padding: 0 0 3em 6em;
      text-align: justify;
      color: white;
      font-weight: 500;
      font-size: 1.1em;
      font-style: italic;

      img{
        width: 100%;
        border: 6px white solid;
        border-radius: 0.2em;
        position: absolute;
        transition: all ease-in-out 500ms;
        &.rotate1{
          transform: rotateZ(-7deg);
          width: 94%;
          right: 0;
          &:hover{
            transform: rotateZ(0deg);
          }
        }
        &.rotate2{
          transform: rotateZ(9deg);
          width: 44%;
          right: -9%;
          top: 63%;
        }
        &.rotate3{
          transform: rotateZ(-20deg);
          width: 45%;
          right: -6%;
          top: -19%;
        }
      }
    }
  }
</style>
