<template>
  <div style="position: relative">
    <!--<section class="section-content separator"></section>-->
    <parallax :fixed="true" style="height: 0; min-height: 0;" >
      <img src="./../../../static/image/img1.jpg">
    </parallax>
    <section id="novedades" class="section-content">
      <div class="title type2 typeB">
        <h2>NOVEDADES</h2>
      </div>
      <div class="row">
        <!--<div class="col-md-7 col-lg-6 pl-md-5 pl-lg-5 pl-sm-0 ml-5 pt-5 mt-5">-->
        <div class="col-md-7 col-lg-6 pl-sm-5 pl-0 pl-lg-5 pl-sm-0 ml-0 ml-md-5 pt-md-5 mt-5 pt-0 px-5">
          <h4 class="face text-md-right text-sm-center">Siguenos en nuestras redes sociales, participa y se parte de este maravilloso equipo dedicado al cuidado de tus engreidos.</h4>
          <p class="align-middle pt-3"><span class="ico-facebook rounded-circle"><i class="fa fa-facebook"></i></span>
            <a target="_blank" href="https://www.facebook.com/RevistaClubSoyMama/"><span>@RevistaClubSoyMama</span></a>
          </p>
          <h4 class="insta text-md-right text-sm-center">Visita nustro instagram y conoce el rostro de nuestra comunidad.</h4>
          <p class="align-middle pt-3"><span class="ico-facebook rounded-circle"><i class="fa fa-instagram"></i></span>
            <a target="_blank" href="https://www.instagram.com/clubsoymama/">#clubsoymama</a>
          </p>
          <h4 class="youtu text-md-right text-sm-center">Mira nuestros videos sobre nuestras actividades y tips, nuestros profesionales estan a tu disposicion.</h4>
          <p class="align-middle pt-3"><span class="ico-facebook rounded-circle"><i class="fa fa-youtube-play"></i></span>
            <a target="_blank" href="https://www.instagram.com/clubsoymama/">#clubsoymama</a>
          </p>
        </div>
      </div>
    </section>
    <section class="section-content separator"></section>
  </div>
</template>

<script>
  import Parallax from 'vue-parallaxy'
  export default {
    name: 'eventos',
    components: {
      Parallax
    }
  }
</script>

<style lang="scss">
  .Masthead{
    .Masthead__image{
      background: white;
    }
  }
</style>

<style lang="scss" scoped>
  $soymama: #db3086;

  #novedades{
    h4{
      font-family: 'Sacramento', cursive;
      font-size: 1.9em;
    }
    .row > div {
      /*padding-left: 14% !important;*/
    }
  }

  .ico-facebook{
    background: $soymama;
    width: 50px;
    display: inline-block;
    height: 50px;
    i{
      font-size: 2.3em;
      color: white;
      line-height: 1.4;
      &.fa-facebook{
        padding-left: 0.3em;
        line-height: 1.9;
      }
      &.fa-youtube-play{
        font-size: 1.9em;
        line-height: 1.7em;
      }
    }
  }

</style>
