<template>
  <section id="preconcepcional" class="section-content bg-primary" style="height: 300px">
    <div class="title type1 typeA bg-dark">
      <h2>PRE-CONCEPCIONAL</h2>
    </div>
  </section>

</template>

<script>
  export default {
    name: 'preconcepcional'
  }
</script>

<style lang="scss" scoped>

</style>
