<template>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="card col-5 p-4 mt-5">
        <h3>Revistas</h3>
        <b-form class="text-left" @submit="onSubmit" @reset="onReset" v-if="show">
          <b-form-group id="exampleInputGroup1"
                        label="Email address:"
                        label-for="exampleInput1"
                        description="We'll never share your email with anyone else.">
            <b-form-input id="exampleInput1"
                          type="email"
                          v-model="form.email"
                          required
                          placeholder="Enter email">
            </b-form-input>
          </b-form-group>
          <b-form-group id="exampleInputGroup2"
                        label="Your Name:"
                        label-for="exampleInput2">
            <b-form-input id="exampleInput2"
                          type="text"
                          v-model="form.name"
                          required
                          placeholder="Enter name">
            </b-form-input>
          </b-form-group>
          <b-form-group id="exampleInputGroup3"
                        label="Food:"
                        label-for="exampleInput3">
            <b-form-select id="exampleInput3"
                           :options="foods"
                           required
                           v-model="form.food">
            </b-form-select>
          </b-form-group>
          <b-form-group id="exampleGroup4">
            <div class="form-check">
              <input value="me" v-model="form.checked" type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>

            <!--<b-form-checkbox-group v-model="form.checked" id="exampleChecks">-->
              <!--<b-form-checkbox value="me">Check me out</b-form-checkbox>-->
              <!--<b-form-checkbox value="that">Check that out</b-form-checkbox>-->
            <!--</b-form-checkbox-group>-->
          </b-form-group>
          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="dark">Reset</b-button>
        </b-form>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'revistas',
    data () {
      return {
        form: {
          email: '',
          name: '',
          food: null,
          checked: []
        },
        foods: [
          { text: 'Select One', value: null },
          'Carrots', 'Beans', 'Tomatoes', 'Corn'
        ],
        show: true
      }
    },
    methods: {
      onSubmit (evt) {
        evt.preventDefault()
        alert(JSON.stringify(this.form))
      },
      onReset (evt) {
        evt.preventDefault()
        /* Reset our form values */
        this.form.email = ''
        this.form.name = ''
        this.form.food = null
        this.form.checked = []
        /* Trick to reset/clear native browser form validation state */
        this.show = false
        this.$nextTick(() => { this.show = true })
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
