<template>
  <div class="wrap">
    <div class="row m-0">
      <app-sidebar></app-sidebar>
      <div id="layout" class="col-10 p-0 bg-light">
        <nav class="navbar navbar-expand-md navbar-light bg-primary">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
          </div>
        </nav>
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
  import appSidebar from './admin/layout/Sidebar'
  export default {
    name: 'admin',
    components: {
      appSidebar
    }
  }
</script>

<style lang="scss" scoped>


</style>
