<template>
  <div class="wrap">
    <!--<fb appId="1862547674056877"></fb>-->
    <app-header></app-header>
    <app-nosotras></app-nosotras>
    <app-concursos></app-concursos>
    <app-ediciones></app-ediciones>
    <app-eventos></app-eventos>
    <app-contacto></app-contacto>
    <app-footer></app-footer>


    <div v-show="isScroll" class="backTop hvr-bounce-in" v-scroll-to="{ el: '.wrap'}">
      <i class="fa fa-3x fa-angle-up"></i>
    </div>
  </div>
</template>

<script>
  // import Parallax from 'vue-parallaxy'
  import appHeader from './webpage/Header'
  import appFooter from './webpage/Footer'
  import appNosotras from './webpage/Nosotras'
  import appConcursos from './webpage/Concursos'
  import appEdiciones from './webpage/Ediciones'
  import appEventos from './webpage/Novedades'
  import appContacto from './webpage/Contacto'
  import appPreconcepcional from './webpage/Preconcepcional'
  import fb from './facebook/Facebook'
  export default {
    name: 'web-page',
    components: {
      appHeader,
      appFooter,
      // Parallax,
      appNosotras,
      appConcursos,
      appEdiciones,
      appEventos,
      appContacto,
      appPreconcepcional,
      fb
    },
    data () {
      return {
        msg: 'Welcome to Your Vue.js App',
        FB: {
          server: 'https://graph.facebook.com/v2.11/',
          me: '1025630888',
          acces_token: 'EAACW5Fg5N2IBAI3X897Qd1S1JvZBstUixvsUgprXLqTXPkYao6NBAyUo4FazgHWXEKb3CswrktklGyXCq1qAySZA3G1SBFv26SK3S027rApZCDXBWfmP1z2yOujtpZB7QSY1xCVeHtsszYdLdzja4NSB7ZBxE5WdZAaM9wtsH6lEvGl3rSBjQw'
        }
      }
    },
    computed: {
      isScroll () {
        return this.$store.state.navbarScroll
      }
    },
    methods: {
      async getPersons () {
        let data = await this.getData('persons/1/', 'GET')
        console.log(data)
      },
      async getData (url, type) {
        let self = await this.$store.dispatch('dispatchHTTP', {type: type, url: url})
        return self
      },
      getEvents () {
        this.$http.get(this.FB.server + this.FB.me + '?fields=events.limit(5)&access_token=' + this.FB.acces_token).then(response => {
          console.log('Events')
          console.log(response)
        })
      },
      getEventsCover (id) {
        this.$http.get(this.FB.server + id + '?fields=cover&access_token=' + this.FB.acces_token).then(response => {
          console.log('Pic')
          console.log(response)
        })
      },
      getPosts () {
        this.$http.get(this.FB.server + this.FB.me + '?fields=posts&access_token=' + this.FB.acces_token).then(response => {
          console.log('Posts')
          console.log(response)
        })
      }
    },
    created () {
      // this.getEvents()
      // this.getPosts()
      // this.getEventsCover(132219004142275)
      // this.getPersons()
    }
  }
</script>

<style lang="scss">
  .wrap{
    overflow: hidden;

    .backTop{
      width: 50px;
      height: 50px;
      background: #db3086;
      border-radius: 5em;
      color: white;
      border: 1px solid white;
      position: fixed;
      bottom: 30px;
      right: 30px;
      z-index: 3;
      i{
        cursor: pointer;
        line-height: 0.88em;
      }
    }
  }
  .btn-purple{
    color: #e0dfe2;
    background: #ad84e2;
  }
  .jumbutron{
    height: 100vh;
  }
</style>
