<template>
  <div id="app" v-scroll="onScroll">
    <!--<img src="./assets/logo.png">-->
    <router-view></router-view>

    <!-- Notifications -->
    <notifications group="foo"
                   position="top right"
                   animation-type="velocity"
                   :speed="500" :duration="5000" :max="5">
    </notifications>
  </div>
</template>

<script>
  // import 'bootstrap/dist/css/bootstrap.css'
  import 'bootstrap-vue/dist/bootstrap-vue.css'
  import 'font-awesome/css/font-awesome.css'
  // let app = Firebase.initializeApp(config)
  // let db = app.database()
  // let revistas = db.ref('revistas')

  export default {
    name: 'app',
    data () {
      return {
        flag1: false
      }
    },
    computed: {
      isScroll () {
        return this.$store.state.navbarScroll
      },
      notification () {
        return this.$store.state.notification
      }
    },
    watch: {
      notification (newVal, oldVal) {
        console.log('NOTIFICATION')
        console.log(newVal)
        console.log(oldVal)
        let type = ''
        let content = newVal.content.data
        if (content.success === true) {
          type = 'success'
        } else if (content.success === false) {
          type = 'error'
        } else if (content.success === null) {
          type = 'warn'
        }

        this.$notify({
          group: 'foo',
          // title: 'Mensaje Importante',
          text: content.message,
          type: type
        })
      }
    },
    methods: {
      onScroll: function (e, position) {
        let posTop = position.scrollTop
        if (posTop >= 150 && !this.flag1) {
          this.flag1 = true
          this.$store.commit('navbarScroolChange', true)
        }

        if (posTop < 150 && this.flag1) {
          this.$store.commit('navbarScroolChange', false)
          this.flag1 = false
        }
      }
    }
  }
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Dancing+Script');
  @import url('https://fonts.googleapis.com/css?family=Sacramento');
  @import url('https://fonts.googleapis.com/css?family=Asap+Condensed');
  @import url('https://fonts.googleapis.com/css?family=Roboto:300');

  /*@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato');*/

  #app {
    /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
    /*font-family: 'Montserrat Alternates', sans-serif;*/
    font-family: 'Asap Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    position: absolute;
    overflow-x: auto;
    height: 100%;
    width: 100%;
    /*margin-top: 60px;*/
  }
  @import "../scss/style";
  @import "../node_modules/animate.css/animate.min.css";
  @import "../node_modules/hover.css/css/hover-min.css";

</style>
